.contact {
  margin-left: 80%;

  .contact-btn {
      font-size: 25px;
      border: none;
      background-color: #fff;
      cursor: pointer;

      &:hover {
          color: #3498db;
      }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  position: fixed;
  z-index: 2;
}

.hidden {
  display: none;
}

.information__center {
  width: 30%;
  background-color: #fff;
  padding: 0 20px 0 20px;
  margin-top: 13%;
  margin-left: 35%;
  border: 1px solid black;
  line-height: 50px;
  border-radius: 15px;
  position: absolute;
  z-index: 4;
  opacity: 3;

  &-content {
      button {
          font-size: 30px;
          opacity: 0.5;
          border: none;
          background-color: #fff;
          cursor: pointer;
          margin-left: 50%;
      }
  }

  hr {
      opacity: 0.5;
  }

  &-contact-tool {
      div {
          display: flex;
          align-items: center;

          i {
              color: #00a3c9;
              cursor: pointer;
          }

          span {
              color: #00a3c9;
              margin-left: 10px;
              cursor: pointer;
          }
      }
  }
}

.callorder {
  border: 1px solid black;
  width: 60%;
  line-height: 40px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 25px;
  padding: 0 40px 20px 40px;
  margin-top: 12%;
  margin-left: 15%;
  position: absolute;
  z-index: 3;

  &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .close-btn {
          font-size: 30px;
          border: none;
          background-color: #fff;
          opacity: 0.5;
          cursor: pointer;
      }
  }

  .callorder__form {
      &-inpt {
          padding: 12px 70px;
          outline: none;
          border-radius: 5px;
      }
  }

  &__btn {
      padding: 15px 80px;
      border-radius: 5px;
      cursor: pointer;
      background-color: #242e33;
      color: white;
      margin-left: 70%;
      border: none;
      font-size: 17px;

      &:hover {
          transition: 0.5s;
          background-color: #00a3c9;
      }
  }
}
